#wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}
#header {
    border-style: dotted;
    font-size: 60px;
    text-align: center;
    border-color: purple;
    border-width: 20px;
}