/* #wrapper margins, width and padding set */
#wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}
/* #header style set */
#header {
    border-style: dotted;
    font-size: 60px;
    text-align: center;
    border-color: purple;
    border-width: 20px;
    margin-top: 30px;
}
/* body element section */
body {
    background-color: violet;
}